@media (max-width: 1200px){
  .container {
      min-width: 960px;
  }
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
h2{
  text-align: center;
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.click:after {
  content: "\2212";
}
.clicks::after{
  content: "\2212";
}
.clicked::after{
  content: "\2212";
}
.click:hover{
  background-color: #ccc;
} 
.clicks:hover{
  background-color: #ccc; 
}
.accordion:hover {
  background-color: #ccc; 
}
button:focus {
  outline: none;
  
}
.paragraph{
  display: none;
}
select{
  width: 150px;
  padding: 7px;
  background-color: gainsboro;
  border: gainsboro;
}
select:focus-visible{
  outline: none !important;
}
select:hover{
  background-color: #ccc; 
}